/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --hot-magenta: #ee00cc;
  --honolulu-blue: #2277aa;
  --imperial-red: #ff3344;
  --spring-bud: #aaff00;
  --yale-blue: #113366;
  --penn-blue: #000033;
  --english-violet: #443355;
  --wisteria: #aa99cc;
  --dark-purple: #332244;

	--page-bg: var(--spring-bud);
	--text-primary: var(--penn-blue);
	--text-bold: var(--dark-purple);
	--text-italic: var(--english-violet);
	--link-text:var(--yale-blue);
	--header-text:var(--yale-blue);
	--link-hover:var(--honolulu-blue);
	--accent: var(--hot-magenta);
	--accent2: var(--imperial-red);

	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

html {
	background-color: var(--page-bg);
	color:var(--text-primary);
  font-weight:400;
	font-family:"Source Code Pro", monospace;	
}

em{
	color:var(--text-italic); 
	font-style:italic;
}

strong{
	color:var(--text-bold)
	font-weight:700;
}

a { color:var(--link-text); }

a:hover { color:var(--link-hover); }

img { 
	max-width: 98vw; 
  box-shadow:10px 10px var(--accent2);
  margin:0 0 10px 0;
}

h1,h2,h3,h4,h5,h6,h7,h8,h9 {
	color:var(--header-text);
	display: inline;
	font-weight:700;
}

h1	{font-size: 4rem;}
h2	{font-size:2.5rem;}
h3	{font-size:2.25rem;}
h4	{font-size:2rem;}
h5	{font-size:1.75rem;}
h6	{font-size:1.5rem;}
h7	{font-size:1.25rem;}
h8	{font-size:1rem;}
h9  {font-size:.5rem;}

a.image-link { text-decoration:none; }

.astro-code {
	padding:.6rem;
  background:var(--accent-dark) !important;
}

article.pre {
	white-space: pre-wrap;
	margin-bottom:1rem;
}

article.blog-post-teaser { white-space:unset; }

li { white-space:normal; }

li p {
	display:inline;
	margin:0;
	padding:0;
  white-space:pre-wrap;  
}