---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
<section>
<article class="pre main">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus lacus non lacus tristique consequat. Ut rutrum sit amet velit ac tincidunt. Pellentesque et erat quis justo posuere efficitur. Sed risus felis, pretium et elit non, dictum ultrices ipsum. Curabitur mattis, felis et vulputate tincidunt, magna sem tristique felis, non viverra felis lacus in erat. Cras convallis fermentum molestie. Ut suscipit nisl et quam faucibus, eget finibus enim viverra. Vestibulum nec fringilla dui. Sed mattis congue gravida.

Suspendisse porttitor eget sem eget maximus. Duis at felis ut nulla lobortis auctor. Vestibulum et elit ultrices, porttitor quam sed, convallis est. Sed sem augue, iaculis quis rutrum ut, rutrum nec mauris. Cras consectetur augue metus, id dignissim est facilisis eget. Donec lacinia urna sapien, sit amet ornare diam tempor nec. Donec nibh sem, pellentesque a nunc a, semper euismod odio. Donec non maximus metus. Pellentesque imperdiet tellus et ipsum porta fringilla.

Nulla in ex eget dolor consequat dapibus eget sed est. Curabitur nisl nunc, rhoncus id ullamcorper non, porttitor ut eros. Aliquam a erat nulla. Donec semper vel massa molestie euismod. Aliquam nec metus orci. Praesent vitae volutpat mi. Vivamus lacinia lacus varius, placerat ipsum non, bibendum enim. Sed vitae tellus vel erat bibendum vulputate eu at dui. Pellentesque tempus vitae enim non tempor. Pellentesque ut pulvinar odio. Nam tincidunt fringilla lorem sed tincidunt.

Ut nec imperdiet tellus. Aliquam dictum eu mauris vitae rhoncus. Nam posuere metus a nulla commodo vehicula. Curabitur non commodo est. Vivamus aliquet malesuada lectus, eu dapibus turpis finibus sed. Proin ut leo aliquam, congue sapien ut, tincidunt erat. Aliquam sed est sodales libero auctor vestibulum id non arcu. Vestibulum in sapien in eros placerat fermentum.

Maecenas ut nisl id ex auctor rhoncus consequat ac lorem. Ut pulvinar ipsum a lobortis fermentum. Donec ullamcorper erat eget velit vehicula, id congue diam maximus. Pellentesque sodales nibh a lacinia tincidunt. Nunc id malesuada enim. Nulla facilisi. Sed odio lectus, blandit vel tristique eu, faucibus quis nisi. Donec suscipit urna eget orci fringilla luctus. Maecenas molestie lectus tempus velit tristique, ut posuere turpis placerat. Phasellus mauris lorem, ultricies et cursus non, lacinia eget justo. Sed et ultricies urna, vitae suscipit ante. Mauris non lectus diam. Ut vel sapien quis nibh egestas facilisis. Suspendisse commodo ex neque, ut luctus mauris iaculis quis. Sed id felis eget ex suscipit vulputate. Maecenas porta est vitae commodo ullamcorper. 
</article>
</section>
		</main>
		<Footer />
	</body>
</html>
