---
const today = new Date();
---
<hr/>
<footer>
	Astro Retro &copy; {today.getFullYear()} <a target="_blank" href="https://absurditiesmedia.com">Absurdities Media Group LLC</a>. All rights reserved.
</footer>
</body>
</html>